# data science
# numpy<2.0.0
# pandas==2.2.3

# Uncomment if you use sklearn
# scikit-learn==1.6.1

# Install the correct TensorFlow version
# Uncomment if you use TensorFlow
# tensorflow==2.16.2    # For both Intel and Apple silicon
# keras==3.8.0

# Google Cloud
# Uncomment if you use Google Cloud Storage
# google-cloud-storage

# API
fastapi
uvicorn
python-multipart

# Google
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-genai==1.52.0
google-pasta==0.2.0
googleapis-common-protos==1.72.0
